
<!--section class="character-list">
       <div class="container border rounded border-0 shadow h-100 container-style">
        <div class="row h-100">
            <div class="col-6 justify-content-center col-style">
                <div class="lead text-dark-emphasis text-opacity-75 lead-style">
    Your characters:
    {{#each characters}}
 
                    <a class="btn btn-primary " role="button" href="/characters/{{id}}">
                        {{name}}        
                    </a>
                </div>
                 <div class="col-md-4">
        <button type ="submit" class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
      </div>
            </div>
            <div class="col-6 justify-content-center col-style">
                <div class="lead text-dark-emphasis text-opacity-75 my-3-style">
                    <li>{{character_class}}</li>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h3>You have not created any characters.</h3>
    {{/each}}
    <div>
    <a class="btn btn-primary" href="/characters/create" role="button">Create a new character</a>


    </div>
    
</section>


<script src="/assets/js/character.js"></script-->

<section class="character-list">
    <div class="container border rounded border-0 shadow h-100 container-style">
        <div class="row h-100">
            <div class="col-12 justify-content-center col-style">
                <br>
                <div class="table-responsive">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col" class="w-25">Characters</th>
                                <th scope="col" class="w-25">Class</th>
                                <th scope="col" class="w-25">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each characters}}
                            <tr>
                                <td>
                                    <a class="btn btn-primary " role="button" href="/characters/{{id}}">
                                        {{name}}        
                                    </a>
                                </td>
                                <td>
                                    {{character_class}}
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="3">
                                    <h3>You have not created any characters.</h3>
                                </td>
                            </tr>
                            {{/each}}
       
                        </tbody>
                    </table>
               <div class="d-flex align-content-center justify-content-center flex-wrap">
    <a class="btn btn-primary align-center" href="/characters/create" role="button">Create a new character</a>
    <
</div>

            </div><br>
        </div>
    </div>
    <div>
       
    </div>
</section>

<script src="/assets/js/character.js"></script>
