<H3>CHARACTERS!</H3>

{{#each characters}}

<a class="btn btn-primary ms-md-2" role="button" href="/character/{{dataValues.id}}">
<h3>{{dataValues.character_name}}</h3>
</a>
<p>{{dataValues.character_description}}</p>

{{else}}

<p>You have not created any characters</p>

{{/each}}

<h1>Find Your Character</h1>

<form action="/character/search">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Find your adventurer!</label>
    <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="term">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form action="/character">
<button type="submit" class="btn btn-primary">Clear</button>
</form>

<h1>Let's build a character</h1>
{{#each errors}}
    <p>{{text}}</p>
{{/each}}
<form action="/character/create" method="POST">
  <div class="mb-3">
    <label for="Name" class="form-label">Character Name</label>
    <input type="Character Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="character_name" value={{character_name}}>
    
  </div>
  <div class="mb-3">
    <label for="Description" class="form-label">Character Description</label>
    <input type="Character Description" class="form-control" id="exampleInputPassword1" name="character_description" value={{character_description}}>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>