 <div class="container">
      <br>
    <div class="container border rounded border-0 shadow bg-dark opacity-75">
                <form action="/characters/create" method="POST">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Character Name</label>
                        <input type="Character Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" value={{name}}>
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label">Character Class</label>
                        <input type="Character Description" class="form-control" id="exampleInputPassword1" name="character_class" value={{character_class}}>
                    </div>
                     <div class="mb-3">
                        <label for="Race" class="form-label">Character Race</label>
                        <input type="Character Race" class="form-control" id="exampleInputPassword1" name="race" value={{race}}>
                    </div>
                    <div class="mb-3">
                        <label for="strength" class="form-label">Strength Score</label>
                        <input type="strength" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="strength" value={{strength}}>
                    </div>
                    <div class="mb-3">
                        <label for="Descrdexterityiption" class="form-label">Dexterity Score</label>
                        <input type="dexterity" class="form-control" id="exampleInputPassword1" name="dexterity" value={{dexterity}}>
                    </div>
                    <div class="mb-3">
                        <label for="constitution" class="form-label">Constitution Score</label>
                        <input type="constitution" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="constitution" value={{constitution}}>
                    </div>
                    <div class="mb-3">
                        <label for="wisdom" class="form-label">Wisdom Score</label>
                        <input type="wisdom" class="form-control" id="exampleInputPassword1" name="wisdom" value={{wisdom}}>
                    </div>
                    <div class="mb-3">
                        <label for="intelligence" class="form-label">Intelligence Score</label>
                        <input type="intelligence" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="intelligence" value={{intelligence}}>
                    </div>
                    <div class="mb-3">
                        <label for="charisma" class="form-label">Charisma Score</label>
                        <input type="charisma" class="form-control" id="exampleInputPassword1" name="charisma" value={{charisma}}>
                    </div>
                    <button type="submit" class="btn btn-primary align-center">Submit</button>
                    <br>
                    <br>
                </form>
            </div>
            
        </div>
    </div>
</div>
