{{!-- This code handles error/success messages for login --}}
{{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p>{{success_msg}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>{{error_msg}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if error}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>{{error}}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}


<section>
          
            <div class="container border rounded border-0 shadow h-100">
                <div class="row h-100">
                    <div class="col-md-6 col-lg-6 col-xl-5 offset-lg-0 offset-xl-0 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center" style="margin-bottom: 5px;padding-bottom: 43px;">
                        <div style="max-width: 350px;" data-bs-theme="dark">
                            <h1 class="text-uppercase fw-bold">Welcome to the rule of cool!</h1>
                            <p class="lead text-dark-emphasis text-opacity-75 my-3" style="padding-top: 0px;padding-left: 24px;padding-right: 24px;margin-top: 5px;margin-bottom: 5px;">Want to build a character? Do it! Need some information on a monster? We got it. Items? Yep. We focus on the rule of cool here!</p><a class="btn btn-primary btn-lg text-bg-dark me-2" role="button" href="#">Button</a><a class="btn btn-outline-primary btn-lg text-bg-dark" role="button" href="#">Button</a>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-xl-1">
                        <!-- Start: Login Form Basic -->
                        <section class="position-relative py-4 py-xl-5">
                            <div class="container text-dark-emphasis shadow-none d-grid">
                                <div class="row gx-2 d-flex justify-content-center" style="margin-bottom: -61px;padding-bottom: 41px;padding-top: 0px;margin-top: -29px;">
                                    <div class="col-md-6 col-lg-7 col-xl-4">
                                        <div class="card bg-transparent border-dark-subtle mb-5">
                                            <div class="card-body text-dark-emphasis text-bg-dark bg-body bg-opacity-75 border rounded shadow d-flex flex-column align-items-center" style="margin-bottom: -2px;padding-bottom: 13px;padding-top: 63px;">
                                                <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person focus-ring">
                                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"></path>
                                                    </svg></div>
                                                <form class="text-center" action="/login" method="POST">
                                                    <div class="mb-3">
                                                        <input class="form-control" type="email" data-bss-hover-animate="pulse" name="email" placeholder="Email" value="{{email}}">
                                                        </div>
                                                    <div class="mb-3"><input class="form-control" type="password" data-bss-hover-animate="pulse" name="password" placeholder="Password" value="{{password}}"></div>
                                                    <div class="mb-3"><button class="btn btn-primary text-bg-dark d-block w-100" data-bss-hover-animate="pulse" type="submit">Login</button></div>
                                                    <p class="text-muted">Forgot your password?</p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <form class="text-primary-emphasis bg-body-tertiary bg-opacity-75 p-4 p-md-5 border rounded-3" method="post" enctype="application/x-www-form-urlencoded" style="margin-left: 38px;margin-right: 38px;padding-left: 12px;">
                                            <div class="form-floating mb-3"><input class="form-control form-control" type="email" id="floatingInput-1" placeholder="name@example.com"><label class="form-label" data-bss-hover-animate="pulse" for="floatingInput">Email address</label></div>
                                            <div class="form-floating mb-3"><input class="form-control form-control" type="password" id="floatingPassword-1" placeholder="Password"><label class="form-label" for="floatingPassword">Password</label></div>
                                            <div class="checkbox mb-3"><label class="form-label"><input type="checkbox" value="remember-me"> Remember me </label></div><button class="btn btn-primary btn-lg text-bg-dark w-100" type="submit">Sign up</button>
                                            <hr class="my-4"><small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
                                        </form>
                                    </div>
                                    <div class="w-100"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

   