{{#with characters}}

<h3>This is the home of {{dataValues.name}} the {{dataValues.character_class}}</h3>

<h4>Strength!</h4>
{{dataValues.strength}}
<h4>Dexterity!</h4>
{{dataValues.dexterity}}
<h4>Constitution!</h4>
{{dataValues.constitution}}
<h4>Intelligence!</h4>
{{dataValues.intelligence}}
<h4>Wisdom!</h4>
{{dataValues.wisdom}}
<h4>Charisma!</h4>
{{dataValues.charisma}}
{{/with}}

<h3>What's in your backpack, {{dataValues.name}}</h3>
