<div class="containter">
  <div class="container border rounded border-0 shadow ">
  <div class="col  text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center " style="mx-auto ;">
                    <div style="w=auto" data-bs-theme="dark">
                        <div class="text-center me-lg-0 pe-lg-0 mb-lg-0" data-bs-theme="dark">
                <h2 class="  text-center ">This is the home of {{name}} {{character_class}}</h2>
<!--h3>This is the home of {{name}} the {{character_class}}</h3-->

<h4>Strength!</h4>
{{strength}}
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Athletics
    <span class="badge bg-light text-dark rounded-pill">14</span>
  </li>
  
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Saving Throw
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
<!--ul class="list-group list-group-horizontal">
  <li class="list-group-item">Athletics</li>
   <li class="list-group-item">Saving Throw</li>
</ul>
<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">4</li>
</ul>-->
<h4>Dexterity!</h4>
{{dexterity}}
<!--<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">Stealth</li>
  <li class="list-group-item">Sleight of Hand</li>
  <li class="list-group-item">Acrobatics</li>
   <li class="list-group-item">Saving Throw</li>
  
</ul>-->
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Stealth
    <span class="badge bg-light text-dark rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Sleight of hand
    <span class="badge bg-light text-dark rounded-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Acrobatics
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Saving Throw
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
</ul>
<!--ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
</ul-->
<h4>Constitution!</h4>
{{constitution}}
<ul class="list-group">
 
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Saving Throw
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
<!--ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">Saving Throw</li>
</ul>
<ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item">4</li>
</ul-->
<h4>Intelligence!</h4>
{{intelligence}}
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Arcana
    <span class="badge bg-light text-dark rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    History
    <span class="badge bg-light text-dark rounded-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Investigation
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Nature
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Religion
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
</ul>
<!--ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">Arcana</li>
  <li class="list-group-item">History</li>
  <li class="list-group-item">Investigation</li>
  <li class="list-group-item">History</li>
  <li class="list-group-item">Nature</li>
   <li class="list-group-item">Religion</li>
</ul>
<ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
</ul-->
<h4>Wisdom!</h4>
{{wisdom}}
<!--ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">Animal Handling</li>
  <li class="list-group-item">Insight</li>
  <li class="list-group-item">Meidicne</li>
  <li class="list-group-item">Perception</li>
  <li class="list-group-item">Survival</li>
   <li class="list-group-item">Saving Throw</li>
   
</ul>
<-ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
</ul-->
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Animal Handling
    <span class="badge bg-light text-dark rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Insight
    <span class="badge bg-light text-dark rounded-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Medicine
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Perception
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Survival
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Saving Throw
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
</ul>
<h4>Charisma!</h4>
{{charisma}}
<!--ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">Deception</li>
  <li class="list-group-item">Intimidation</li>
  <li class="list-group-item">Performance</li>
  <li class="list-group-item">Persuasion</li>
   <li class="list-group-item">Saving Throw</li>
</ul>
<ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
    <li class="list-group-item">4</li>
</ul-->
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Deception
    <span class="badge bg-light text-dark rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Intimidation
    <span class="badge bg-light text-dark rounded-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Performance
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Persuasion
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Saving Throw
    <span class="badge bg-light text-dark rounded-pill">1</span>
  </li>
</ul>

<!--h3>What's in your backpack, {{name}}</h3>


<div>
    <div>

      <h3>Add an item:</h3>

      <form class="form new-equipment-form">
        <input type="hidden" value="{{id}}" name="character-id" id="character-id">
        <div class="form-group">
          <label for="equipment-desc">equipment:</label>
          <textarea class="form-input" id="equipment-desc" name="equipment-desc"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>


    
    <h3>Current Inventory:</h3>

    <div class="equipment-list">
      {{#each equipment}}
        
          <P>{{item}}</p> 
         <button type ="submit" class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
    {{ else }}

        <p>No current inventory</p>
        
      {{/each}}

    </div>
  </div>
</div-->

<div class="card text-center">
  <div class="card-header">
   <h3>What's in your backpack, {{name}}</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Inventory</h5>
    <form class="form new-equipment-form">
        <input type="hidden" value="{{id}}" name="character-id" id="character-id">
        <div class="form-group">
          <!--label for="equipment-desc">Add New Equipment:</label-->
          <br>
          <textarea class="form-input" placeholder="Add new equipment" id="equipment-desc" name="equipment-desc"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add to bag!</button>
        </div>
      </form>
    
  </div>
  <div class="card-footer text-muted">
    Current Inventory
  </div>
   <h3>Current Inventory:</h3>

    <div class="equipment-list">
      {{#each equipment}}
        
          <P>{{item}}</p> 
         <button type ="submit" class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
    {{ else }}

        <p>No current inventory</p>
        
      {{/each}}

    </div>
</div>
<script src="/assets/js/equipment.js"></script>
</div>
</div>
